<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to play</title>
</head>
<body bgcolor="gray">
    <div style="text-align: center">
        <p>Welcome to Shutthebox!</p>
        <p>How to play:</p>
        <p>write Localhost9000/gameX, where X is the move you want to do.</p>
        <p>Available Moves:</p>
        <p>Roll the dice: w</p>
        <p>Shut down a stone: number (1 to 9)</p>
        <p>End your round: next</p>
        <p>End your round: next</p>
        <p>Redo: z</p>
        <p>Undo: y</p>
        <p>example: .../gamew to roll the dice</p>
        <img src="@routes.Assets.versioned("images/shutthebox.png")">
        </p>
    </div>
</body>
</html>