@(style: String, player: String, dice: String, sum: Int, board: List[Boolean])
@main("Game", s"$style"){
<div class="game" style="text-align: center">
  <div class="player">
    <p>@player</p>
  </div>
  <div class="clap">
    @for(index <- 0 until board.size){
    @if(board(index)){
    <a href="http://localhost:9000/game/@{index + 1}" class="stone-shut"> # </a>
    }
    @if(!board(index)){
    <a href="http://localhost:9000/game/@{index + 1}" class="stone-not-shut"> @{index + 1} </a>
    }
    }
    <p>
      @for(index <- 0 until board.size){
      @if(board(index)){
      @{index + 1}
      }
      @if(!board(index)){
      #
      }
      }
    </p>
  </div>
  <div class="dice">
    <p>Gewürfelt: @dice | Summe: @sum</p>
  </div>
  <div class="button_dice">
    <p>
      <a href="http://localhost:9000/game/w">Würfeln </a>
    </p>
  </div>
  <div class="button_undo">
    <p>
      <a href="http://localhost:9000/game/y">Undo </a>
    </p>
  </div>
  <div class="button_redo">
    <p>
      <a href="http://localhost:9000/game/z">Redo </a>
    </p>
  </div>
  <div class="button_nextPlayer">
    <p>
      <a href="http://localhost:9000/game/next">next Player</a>
    </p>
  </div>
<!--  </p>-->
<!--</center>-->
<!--  <img src="@routes.Assets.versioned("images/shutthebox.png")" width="auto" height="300>-->
</div>
}